@charset "utf-8";
/* CSS Document */


/*头部*/
.wrap header .backBox{
	position:relative
}
.wrap header .backBox h3{
	font:0.34rem/0.88rem "微软雅黑";
	font-weight:bold;
	background:url(../images/leftjiantou_03.jpg) no-repeat 0.30rem center;
	background-size:0.12rem 0.21rem;
	padding-left:1.87rem;
	color:#fff;
	position:absolute;
	left:0;
	bottom:0;
}

/*内容详情*/
.wrap .Details h3{
	font:0.32rem/0.61rem "微软雅黑";
	color:#444;
	text-align:center;
	padding-top:0.19rem;
}
.wrap .Details .timeBox{
	text-align:center;
	padding-bottom:0.45rem;
}
.wrap .Details .timeBox a{
	font:0.24rem/0.61rem "微软雅黑";
	color:#999;
}
.wrap .Details .timeBox time{
	font:0.24rem "微软雅黑";
	color:#999;
	padding:0 0.87rem 0 0.17rem;
}
.wrap .Details .timeBox span{
	font:0.24rem "微软雅黑";
	color:#f16161;
}
.wrap .Details hr{
	width:1.80rem;
	height:0.01rem;
	background:#efefef;
	border:none;
	margin-left:0.41rem;
}
.wrap .Details .daoyu{
	font:0.28rem/0.60rem "微软雅黑";
	color:#666;
	padding:0.03rem 0 0 0.41rem;
	text-indent:0.65rem
}
.wrap .Details h4{
	font:0.30rem/0.47rem "微软雅黑";
	color:#444;
	padding-left:0.42rem;
	padding-top:0.18rem;
}
.wrap .Details .neirong{
	font:0.28rem/0.61rem "微软雅黑";
	color:#666;
	padding-left:0.40rem;
	text-indent:0.44rem;
}
.wrap .Details .liaoJie{
	font:0.28rem/0.94rem "微软雅黑";
	color:#888;
	padding-left:1.52rem;
}
.wrap .Details .dianJi{
	display:block;
	text-align:center;
	font:0.24rem/0.94rem "微软雅黑";
	color:#999;
}